#159 – Controle de Lâmpada RGB com IA: Linguagem Natural + Gemini no Node-RED (MQTT e Zigbee2MQTT)
[
    {
        "id": "b8e3c4c9e7c1a111",
        "type": "subflow",
        "name": "Interação",
        "info": "Subflow genérico para enviar prompt + contexto para LLM e retornar apenas JSON válido",
        "category": "AI",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "f1a6b7c8d9e01111"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 940,
                "y": 80,
                "wires": [
                    {
                        "id": "a9b8c7d6e5f41111",
                        "port": 0
                    },
                    {
                        "id": "e7f6a5b4c3d21111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "url",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "0": "H",
                        "1": "T",
                        "2": "T",
                        "3": "P",
                        "4": " ",
                        "5": "A",
                        "6": "P",
                        "7": "I",
                        "8": " ",
                        "9": "U",
                        "10": "R",
                        "11": "L"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "prompt",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "0": "P",
                        "1": "r",
                        "2": "o",
                        "3": "m",
                        "4": "p",
                        "5": "t",
                        "6": " ",
                        "7": "B",
                        "8": "a",
                        "9": "s",
                        "10": "e"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#FDF0C2",
        "icon": "node-red/status.svg"
    },
    {
        "id": "f1a6b7c8d9e01111",
        "type": "function",
        "z": "b8e3c4c9e7c1a111",
        "name": "Build Prompt",
        "func": "const basePrompt = env.get(\"prompt\") || \"\";\n\nlet prompt = `\n\n${basePrompt}\n\nAqui estão os comandos ou contexto atual:\n${JSON.stringify(msg.payload, null, 2)}\n\n`;\n\nmsg.payload = {\n    contents: [\n        {\n            parts: [\n                { text: prompt }\n            ]\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "c2d3e4f5a6b71111"
            ]
        ]
    },
    {
        "id": "c2d3e4f5a6b71111",
        "type": "http request",
        "z": "b8e3c4c9e7c1a111",
        "name": "LLM HTTP Request",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "${url}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 80,
        "wires": [
            [
                "e7f6a5b4c3d21111"
            ]
        ]
    },
    {
        "id": "e7f6a5b4c3d21111",
        "type": "function",
        "z": "b8e3c4c9e7c1a111",
        "name": "Extract JSON",
        "func": "let raw = msg.payload?.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\nlet jsonText;\n\nif (raw.trim().startsWith(\"{\")) {\n    jsonText = raw.trim();\n} else {\n    const match = raw.match(/\\{[\\s\\S]*\\}/);\n    jsonText = match ? match[0] : \"{}\";\n}\n\nlet obj = {};\ntry {\n    obj = JSON.parse(jsonText);\n} catch (e) {\n    obj = {};\n}\n\nmsg.payload = obj;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "976c85f0eb730b6e",
        "type": "subflow:b8e3c4c9e7c1a111",
        "z": "a9fa9357074d0a21",
        "name": "Gemini",
        "env": [
            {
                "name": "url",
                "value": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=token",
                "type": "str"
            },
            {
                "name": "prompt",
                "value": "Você é um assistente de automação residencial que esta controlando uma lampada smart com os seguintes parametros:     Light     This light supports the following features: state, brightness, color_temp, color_xy.     state: To control the state publish a message to topic zigbee2mqtt/FRIENDLY_NAME/set with payload {\"state\": \"ON\"}, {\"state\": \"OFF\"} or {\"state\": \"TOGGLE\"}. To read the state send a message to zigbee2mqtt/FRIENDLY_NAME/get with payload {\"state\": \"\"}.     brightness: To control the brightness publish a message to topic zigbee2mqtt/FRIENDLY_NAME/set with payload {\"brightness\": VALUE} where VALUE is a number between 0 and 254. To read the brightness send a message to zigbee2mqtt/FRIENDLY_NAME/get with payload {\"brightness\": \"\"}.     color_temp: To control the color temperature (in reciprocal megakelvin a.k.a. mired scale) publish a message to topic zigbee2mqtt/FRIENDLY_NAME/set with payload {\"color_temp\": VALUE} where VALUE is a number between 153 and 500, the higher the warmer the color. To read the color temperature send a message to zigbee2mqtt/FRIENDLY_NAME/get with payload {\"color_temp\": \"\"}. Besides the numeric values the following values are accepted: coolest, cool, neutral, warm, warmest.     color_xy: To control the XY color (CIE 1931 color space) publish a message to topic zigbee2mqtt/FRIENDLY_NAME/set with payload {\"color\": {\"x\": X_VALUE, \"y\": Y_VALUE}} (e.g. {\"color\":{\"x\":0.123,\"y\":0.123}}). To read the XY color send a message to zigbee2mqtt/FRIENDLY_NAME/get with payload {\"color\":{\"x\":\"\",\"y\":\"\"}}. Alternatively it is possible to set the XY color via RGB:     {\"color\": {\"r\": R, \"g\": G, \"b\": B}} e.g. {\"color\":{\"r\":46,\"g\":102,\"b\":150}}     {\"color\": {\"rgb\": \"R,G,B\"}} e.g. {\"color\":{\"rgb\":\"46,102,150\"}}     {\"color\": {\"hex\": HEX}} e.g. {\"color\":{\"hex\":\"#547CFF\"}}  Regras a serem seguidas: - Sempre recomece o comando do zero. - Retorne APENAS um objeto JSON válido. Nada de explicações, markdown ou qualquer texto fora do JSON.  Formato de saida, use como exemplo: {     {\"state\": \"TOGGLE\"}  }",
                "type": "str"
            }
        ],
        "x": 840,
        "y": 240,
        "wires": [
            []
        ]
    }
]
