#164
[
    {
        "id": "32c020f7bd72789c",
        "type": "mqtt out",
        "z": "41ee4ae578af43b9",
        "name": "",
        "topic": "homeassistant/sensor/sensor_ic/config",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc178c955ca8f8bd",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "639c59268f7d6749",
        "type": "inject",
        "z": "41ee4ae578af43b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "32c020f7bd72789c"
            ]
        ]
    },
    {
        "id": "7d4c1012e7c247ed",
        "type": "function",
        "z": "41ee4ae578af43b9",
        "name": "criação sensor ic",
        "func": "var nome = \"sensor_ic\";\n\nmsg.topic = \"homeassistant/sensor/\" + nome + \"/config\";\n\nmsg.payload = {\n  name: nome,\n  state_topic: \"nodered/\" + nome + \"/state\",\n  unit_of_measurement: \"°C\",\n  device_class: \"temperature\",\n  state_class: \"measurement\",\n  unique_id: nome,\n  icon: \"mdi:weather-sunny-alert\",\n  device: {\n    identifiers: [nome],\n    name: nome\n  }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 560,
        "wires": [
            [
                "f53841b76632f644"
            ]
        ]
    },
    {
        "id": "f53841b76632f644",
        "type": "mqtt out",
        "z": "41ee4ae578af43b9",
        "name": "config HA",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc178c955ca8f8bd",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "7fb4fe38b6ac057b",
        "type": "inject",
        "z": "41ee4ae578af43b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 560,
        "wires": [
            [
                "7d4c1012e7c247ed"
            ]
        ]
    },
    {
        "id": "332be6888ad5e4cc",
        "type": "mqtt out",
        "z": "41ee4ae578af43b9",
        "name": "",
        "topic": "nodered/sensor_ic/state",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc178c955ca8f8bd",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "286734c8cdbea0a5",
        "type": "inject",
        "z": "41ee4ae578af43b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "23",
        "payloadType": "num",
        "x": 450,
        "y": 480,
        "wires": [
            [
                "332be6888ad5e4cc"
            ]
        ]
    },
    {
        "id": "cc178c955ca8f8bd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
